<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <!--
		1、mybatis可以使用properties来引入外部properties配置文件的内容
			resource：引入类路径下的资源
			url：引入网络路径或磁盘路径下的资源
	 -->
    <properties resource="db.properties"></properties>

    <settings>
        <setting name="mapUnderscoreToCamelCase" value="true"/>
    </settings>

    <typeAliases>
        <typeAlias type="com.test.pojo.Employee" alias="emp"/>
        <!--        <package name="com.hd.test.pojo"/>-->
    </typeAliases>

    <!--plugins：注册插件 -->
    <plugins>

        <plugin interceptor="com.test.plugins.ExecutorPlugin">
            <property name="username" value="root" />
            <property name="password" value="123456" />
        </plugin>
<!--        <plugin interceptor="com.test.plugins.ExecutorPlugin2">-->
<!--            <property name="username" value="root" />-->
<!--            <property name="password" value="123456" />-->
<!--        </plugin>-->
<!--        <plugin interceptor="com.test.plugins.ParameterHandlerPlugin">-->
<!--            <property name="username" value="root" />-->
<!--            <property name="password" value="123456" />-->
<!--        </plugin>-->
<!--        <plugin interceptor="com.test.plugins.ResultSetHandlerPlugin">-->
<!--            <property name="username" value="root" />-->
<!--            <property name="password" value="123456" />-->
<!--        </plugin>-->
<!--        <plugin interceptor="com.test.plugins.StatementHandlerPlugin">-->
<!--            <property name="username" value="root" />-->
<!--            <property name="password" value="123456" />-->
<!--        </plugin>-->

    </plugins>

    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <!-- 配置数据库连接信息 -->
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!-- 添加映射文件到Mybatis的全局配置文件中 -->
        <mapper resource="mapper/EmployeeMapper.xml"/>
    </mappers>
</configuration>